In [3]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('W:\\DistanceEstimation\\train\\train.csv')

In [8]:
data.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,2018-05-31_11-10-16_2018-05-31_11-10-27-396830...,1920,1080,truck,982,587,1018,631
1,2018-05-31_11-10-16_2018-05-31_11-10-27-396830...,1920,1080,rider,1050,600,1055,605
2,2018-05-31_11-10-16_2018-05-31_11-10-27-396830...,1920,1080,rider,1055,598,1063,613
3,2018-05-31_11-10-16_2018-05-31_11-10-27-396830...,1920,1080,car,1060,603,1105,635
4,2018-05-31_11-10-16_2018-05-31_11-10-27-396830...,1920,1080,rider,1056,600,1071,629

In [10]:
data.columns

Index(['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax'], dtype='object')

In [14]:
data = data.drop(['width', 'height'], axis=1)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
encoder = LabelEncoder()

In [20]:
data['classID'] = encoder.fit_transform(data['class'])

In [25]:
data['classID'].unique()

array([7, 5, 2, 3, 0, 4, 1, 6])

In [35]:
list(encoder.inverse_transform([0,1,2,3,4,5,6,7]))

['autorickshaw',
 'bus',
 'car',
 'motorcycle',
 'pedestrian',
 'rider',
 'traffic light',
 'truck']

## These are alphabetically encoded

In [36]:
data = data[['filename', 'classID', 'xmin', 'xmax', 'ymin', 'ymax']]

In [56]:
groupedData = data.groupby('filename')

In [65]:
for g in groupedData.groups:
    print(g)
    print(groupedData.get_group(g))

2018-05-31_11-10-16_2018-05-31_11-10-27-396830_leftImg8bit.jpg
    classID  xmin  xmax  ymin  ymax
0         7   982  1018   587   631
1         5  1050  1055   600   605
2         5  1055  1063   598   613
3         2  1060  1105   603   635
4         5  1056  1071   600   629
5         3  1059  1066   617   623
6         3   994  1008   610   636
7         5   995  1009   602   634
8         5  1086  1093   598   605
9         5  1236  1247   603   615
10        3  1238  1249   614   622
11        2  1326  1392   606   638
12        0  1526  1573   603   650
13        2  1000  1060   601   660
14        5  1153  1178   602   622
15        5  1036  1068   607   651
16        3  1037  1066   634   685
17        4   704   753   594   708
18        3   758   800   657   733
19        5   746   792   624   713
20        2  1061  1332   621   843
21        2  1122  1180   608   625
2018-05-31_11-10-16_2018-05-31_11-10-51-600523_leftImg8bit.jpg
    classID  xmin  xmax  ymin  ymax
22        0   717   787   592   609
23        2   724   791   600   654
24        7   743   958   540   718
25        7   960   978   582   600
26        2   960   978   591   606
27        5   964   974   594   607
28        3   965   974   603   613
29        1   978  1002   581   609
30        1  1002  1030   577   616
31        2  1031  1054   593   615
32        1  1038  1073   577   596
33        2  1043  1070   592   642
34        0  1059  1120   592   669
35        3  1166  1197   618   664
36        3  1169  1196   598   655
37        2  1250  1370   616   634
38        7  1383  1453   579   634
39        2  1118  1688   632  1067
40        5  1716  1785   627   740
41        5  1612  1739   624   792
42        3  1731  1814   727   847
43        3  1604  1768   682   878
44        5   996  1054   608   709
45        5   963  1061   612   781
46        3   962  1064   685   825
2018-05-31_11-10-16_2018-05-31_11-11-51-917670_leftImg8bit.jpg
     classID  xmin  xmax  ymin  ymax
88         1   997  1057   569   603
89         5   964   975   593   612
90         0   951   969   594   622
91         2   966  1010   596   626
92         3   961   974   607   619
93         2   982  1030   599   629
94         2   992  1065   603   629
95         4  1100  1124   599   649
96         3  1163  1180   592   603
97         5  1167  1175   584   595
98         2  1220  1280   586   630
99         2  1313  1379   583   621
100        5  1313  1333   597   623
101        1  1692  1920   469   683
102        5  1517  1657   621   910
103        3  1274  1622   729  1079
104        3  1520  1719   816  1063
105        5  1275  1540   611  1069
106        3  1164  1252   636   768
107        5  1170  1249   606   734
108        2  1001  1134   607   737
109        1   883   948   567   602
110        0   811   880   593   678
111        0   868   951   595   626
112        0   798   829   593   654
113        2   776  1069   606   876
114        7     4   794   113   893
2018-05-31_11-10-16_2018-05-31_11-11-8-262703_leftImg8bit.jpg
    classID  xmin  xmax  ymin  ymax
47        7   568   785   490   602
48        7   821   869   553   585
49        2   884   938   560   578
50        1   953   973   544   578
51        1   964  1105   521   591
52        1  1102  1189   540   627
53        2  1187  1234   604   642
54        2  1235  1289   612   689
55        5  1207  1240   600   662
56        5  1223  1263   602   667
57        3  1222  1261   647   703
58        1  1309  1379   601   633
59        5  1274  1316   598   688
60        3  1275  1304   651   692
61        5  1392  1413   614   621
62        5  1468  1493   620   630
63        2  1335  1501   621   689
64        5  1568  1595   627   638
65        5  1647  1674   623   647
66        5  1668  1694   629   654
67        2  1318  1861   632   944
68        2  1710  1920   653   908
69        2  1844  1919   901  1079
70        4  1280  1376   609   909
71        5  1123  1162   593   625
72        0  1022  1137   591   739
73        2  1046  1243   625   799
74        2  1004  1039   576   654
75        5   808   824   580   607
76        5   784   807   576   609
77        2   815   858   579   600
78        0   814  1038   577   859
79        5   757   783   576   618
80        3   760   781   603   624
81        2   777   842   597   766
82        5   770   817   585   671
83        3   719   777   651   747
84        5   722   787   585   704
85        5   449   581   610   859
86        3   311   599   774  1079
87        5   329   566   610  1036
2018-05-31_11-10-16_2018-05-31_11-12-0-190307_leftImg8bit.jpg
     classID  xmin  xmax  ymin  ymax
115        1   957  1012   557   588
116        6  1006  1032   474   482
117        6  1034  1046   473   481
118        2  1116  1132   580   596
119        3  1127  1142   591   607
120        5  1127  1139   580   596
121        7  1132  1184   555   591
122        1  1765  1913   508   556
123        0  1737  1781   548   561
124        0  1816  1866   544   558
125        5  1806  1820   545   558
126        5  1829  1844   549   557
127        5  1797  1808   548   559
128        5  1785  1798   547   560
129        5  1762  1772   553   560
130        5  1773  1781   552   560
131        4  1492  1504   559   583
132        4  1489  1505   573   596
133        3  1429  1448   576   604
134        3  1438  1450   576   607
135        2  1525  1554   563   586
136        4  1577  1599   561   583
137        7  1621  1739   513   580
138        5  1637  1651   556   582
139        5  1654  1674   556   579
140        3  1691  1738   568   602
141        5  1704  1727   554   596
142        3  1594  1646   575   610
143        5  1609  1631   556   611
144        3  1631  1674   575   609
145        5  1644  1667   563   610
146        3  1651  1709   575   607
147        5  1669  1695   555   607
148        2  1033  1087   585   600
149        3   805   823   631   659
150        5   802   822   598   648
151        2  1047  1130   593   681
152        5  1154  1186   591   634
153        3  1103  1204   626   804
154        5  1103  1203   588   766
155        2  1068  1084   625   721
156        7    61   805   119   852
157        0   784  1088   582   964
158        6  1683  1702   456   499
159        6  1668  1687   497   528
160        2  1315  1389   571   612